/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/
*
*::after,
*::before{
    margin:0;
    padding:0;
    box-sizing: inherit;
}
/* 1 rem =10px;
*/
html{
    font-size: 62.5%; /* 100% = 16 px qui est le default value de la root mais on veut 10px*/
}

body{
    font-family: "Lata",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 3rem;
    box-sizing: border-box;
}




/* Navigation Bar */

.navbar {
	padding-top: 25px;
	}
	
	.navbar-brand {
	font-family: "Ubuntu";
	font-size: 2.5rem;
	font-weight: bold;
	}
	
	.nav-item {
	padding: 0 18px;
	}
	
	.navbar-dark .navbar-nav .nav-link {
	color: #ffffff;
	font-weight:400px;
	}
	
	
	.nav-link {
	
	font-family: "Montserrat-Light";
	color:white;
	font-size: 1.5rem;
	}
	
	
header{
    height:80vh;/* vh die höhe des Element soll immer 95% sein auf der Viewport height */
	background-image: linear-gradient(
        to right bottom, rgba(213, 123, 111, 0.7),rgba(47, 49, 48, 0.7), #839280,#b43d28),url(../images/spaghetti.jpg) ;
    background-size: cover;
    background-position: top;/* L image en haut ne bouge pas */
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
	width: 100%;
	overflow: hidden;

}
.header__logo-box{
    position:absolute;
    left: 4rem;
    top: 4rem;
}
.header__logo{
    height: 3.5rem;
}
.header__text-box{
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
.heading-primary{
    color: #ffffff;
    text-transform: uppercase;
    backface-visibility: hidden; /*to stop the shaking after the animation*/
    margin-bottom: 6rem;
}
.heading-primary--main{
    display: block;
    letter-spacing: 3.5rem;
    font-weight: 400;
    font-size: 3rem;
    animation-name: moveInLeft;/*we call the animation that we created*/
    animation-duration: 2s;
    animation-timing-function: ease-out;

}
.heading-primary--sub{
    font-size: 2rem;
    display: block;
    font-weight: 700;
    letter-spacing:1.75rem;
    animation-name: moveInRight;/*we call the animation that we created*/
    animation-duration: 2s;
    animation-timing-function: 1s ease-out;
}
@keyframes moveInLeft {
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }
    80%{
        transform: translateX(1rem);

    }
    100%{
        opacity:1;
        transform: translateX(0);
    }
}
@keyframes moveInRight {
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }
    80%{
        transform: translateX(-1rem);

    }
    100%{
        opacity:1;
        transform: translateX(0);
    }
}
@keyframes moveInBottom {
    0%{
        opacity: 0;
        transform: translateY(3rem);
    }

    100%{
        opacity:1;
        transform: translateX(0);
    }
}
.btn:link,
.btn:visited{
    border-radius: 10rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    display: inline-block;
    transition: all 2s;
    position: relative;
    font-size:1.6rem;
}
.btn:hover{
    transform: translateY(-3rem);
    box-shadow: 0 1rem 2rem #00000033;
}
.btn:active{
    transform: translateY(-1rem);
    box-shadow: 0 .5rem 2rem rgba(0,0,0,.2);

}
.btn--white{
    background:#8B0000;
    color:#fff;
}
.btn::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    top:0 ;
    left:0 ;
    position: absolute;
    border-radius: 10rem;
    z-index: -1;
    transition: all 2s;


}
.btn-white::after{
    background-color: white;
}
.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);/*scale increase the element*/
    opacity: 0;
}

.btn--animated{
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}







a{
	text-decoration: none;
	color: #eee;
	
}


.container{
	max-width: 120rem;
	width: 90%;
	margin: 0 auto;
}

.menu-toggle{
	position: fixed;
	top: 2.5rem;
	right: 2.5rem;
	color: #eeeeee;
	font-size: 3rem;
	cursor: pointer;
	z-index: 1000;
	display: none;
}

nav{
	padding-top: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
  font-size: 1.2rem;
  margin-left: 40px;
   margin-right: 50px;
}

.brand{
	font-size: 3rem;
	font-weight: 300;
	transform: translateX(-100rem);
	animation: slideIn .5s forwards;
}



.brand span{
	color: #dc143c;
}

nav ul{
	display: flex;
}

nav ul li{
	list-style: none;
	transform: translateX(100rem);
  animation: slideIn .5s forwards;
  
}

nav ul li:nth-child(1){
	animation-delay: 0s;
}

nav ul li:nth-child(2){
	animation-delay: .5s;
}

nav ul li:nth-child(3){
	animation-delay: 1s;
}

nav ul li:nth-child(4){
	animation-delay: 1.5s;
}

nav ul li a{
	padding: 1rem 0;
	margin: 0 3rem;
	position: relative;
  letter-spacing: 2px;
  color: #eee !important;

}

nav ul li a:last-child{
	margin-right: 0;
}

nav ul li a::before,
nav ul li a::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: crimson;
	left: 0;
	transform: scaleX(0);
	transition: all .5s;
}

nav ul li a::before{
	top: 0;
	transform-origin: left;
}

nav ul li a::after{
	bottom: 0;
	transform-origin: right;
}

.overlay{
	background-color: rgba(0,0,0,.95);
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	transition: opacity 650ms;
	transform: scale(0);
	opacity: 0;
  display: none;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
	transform: scaleX(1);
}

@keyframes slideIn {
	from{

	}
	to{
		transform: translateX(0);
	}
}

@media screen and (max-width: 700px){

	.menu-toggle{
		display: block;
	}

	nav{
		padding-top: 0;
		display: none;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		height: 100vh;
		text-align: center;
	}

	nav ul{
		flex-direction: column;
	}

	nav ul li{
		margin-top: 5rem;
	}

	nav ul li a{
		margin: 0;
		font-size: 2.5rem;
	}

	.brand{
		font-size: 5rem;
	}
  
  .overlay.menu-open,
  nav.menu-open{
	  display: flex;
	  transform: scale(1);
	  opacity: 1;
  }
  
}


.begin{
  text-align: center;
  padding-top: 10%;
  font-size: 3.5rem;
}
.name{
    font-size: 3.5rem;
}


.lead{
  text-align: center;
}





/*=================================================================== Our Menu ===*/
.our-menu {
	background-color: #f7f7f7;
}


/*------------------------------------------------------------------- title our menu ---*/
.wrap-title-our-menu{
	margin-right: 0px;
	margin-left: 0px;
}
.title-our-menu {
	text-align: center;
	padding-top: 65px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e4e4e4;
	margin-right: 0px;
	margin-left: 0px;
}
.title-our-menu > h6{
	text-transform: uppercase;
	color: #808080;
	font-family: OpenSans;
	font-size: 14px;
	letter-spacing: 1.5px;
}
.title-our-menu > h2{
	color: #333333;
	font-family: PlayfairDisplay-Bold;
	font-size: 50px;
}



/*=================================================================== Footer ===*/
footer {
	background-color: #222222;
}

footer h3 {
	font-family: PlayfairDisplay-Bold;
	font-size: 20px;
	color: white;
	line-height: 1.3;
	padding-bottom: 15px;
}

footer ul li {
	list-style-type: none;
	color: #c6c6c6;
	font-family: OpenSans;
	font-size: 14px;
	line-height: 2.14;
}
footer ul li a {
	color: #c6c6c6;
	font-family: OpenSans;
	font-size: 14px;
	line-height: 2.14;
}
footer ul li a:hover {
	text-decoration: none; 
	color: #e52233;
}
.content-footer {
	padding-top: 100px;
	padding-bottom: 60px;
	position: relative;
}
.column-footer{
	padding-top: 17px;
}
.line-divide {
	position: absolute;
	width: 1px;
	background-color: #333333;
	bottom: 0px;
	top: 0px;
}
.column-footer.col-lg-5{padding-right: 80px;}
.column-footer.col-lg-4{padding-right: 50px;}

#follow-us a {
	padding-left: 18px;
}

#restaurant-hours .span-left {
	display: inline-block;
	width: 42%;
}

#useful-links .span-left {
	display: inline-block;
	width: 56%;
}
.first-line {
	left: -12%;
}
.second-line {
	left: -16%;
}


.wrap-bottom-footer {
	border-top: 1px solid #333333;
	padding-bottom: 18px;
	padding-top: 18px;
}
.bottom-footer .col-sm-7,.bottom-footer .col-sm-5 {
	color: #c6c6c6;
	font-family: OpenSans;
	font-size: 14px;
	line-height: 1.8;
}
.bottom-footer .col-sm-5{text-align: right;}
.bottom-footer span:first-child {
	padding-right: 10px;
	border-right: 1px solid #333333;
}
.bottom-footer span:last-child {
	padding-left: 10px;
}


@media (max-width: 991px){
	
	.column-footer.col-lg-5{margin-left: 18%; padding-right: 0px;}
	.column-footer.col-lg-4{margin-left: 18%; padding-right: 0px;}
	.column-footer.col-lg-3{padding-right: 0px;}
	.first-line{display: none;}
}
@media (max-width: 767px){
	.column-footer.col-lg-5{margin-left: auto; padding-right: 0px;}
	.column-footer.col-lg-4{margin-left: auto; padding-right: 0px;}
	.column-footer{margin: auto;}
	.second-line{display: none;}
}
@media (max-width: 576px){
	.bottom-footer .col-sm-7,.bottom-footer .col-sm-5{text-align: center;}
}

/*................................................................... Footer ...*/

#gallery{
	margin-top: -20vh;
	background-color: #f7f7f7;
	padding: 25rem 0;



}







/*------------------------------------------------------------------- Intro ---*/
.wrap-intro {

	padding-top: 105px;
	padding-bottom: 85px;
}
.text-intro {padding-top: 20px;}
.text-intro h3 {
	font-family: OpenSans;
	font-size: 14px;
	color: #666666;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}
.text-intro h2 {
	font-family: PlayfairDisplay-Bold;
	font-size: 50px;
	color: #333333;
	margin-bottom: 40px;
}
.text-intro p {
	font-family: OpenSans;
	font-size: 14px;
	color: #666666;
	line-height: 1.8;
}


.pic-intro {
	width: 100%;
	overflow: hidden;
}
.pic-intro img{
	width: 100%;
	
}


@media (max-width: 768px){
	.text-intro, .wrap-pic-intro{
		margin-left: auto;
		margin-right: auto;
	}
}

/*------------------------------------------------------------------- Map ---*/

#map{
	background-image: linear-gradient(
        to right bottom, rgba(179, 29, 10, 0.7),rgba(221, 67, 20, 0.7), #839280,#b43d28),url(../images/wood-186304_1920.jpg) ;
    background-size: cover;  background-repeat: no-repeat;
  width: 100%;
  padding: 0;
  overflow: hidden;
  padding-bottom: 15px;
}

.text-map {padding-top: 20px;}
.text-map h3 {
	font-family: OpenSans;
	font-size: 14px;
	color: #666666;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}
.text-map h2 {
	font-family: PlayfairDisplay-Bold;
	font-size: 50px;
	color: #333333;
	margin-bottom: 40px;
}
.text-map p {
	font-family: OpenSans;
	font-size: 14px;
	color: #666666;
	line-height: 1.8;
}


.pic-map {
	width: 100%;
	overflow: hidden;
}
.pic-map img{
	width: 100%;
	
}


@media (max-width: 768px){
	.text-map, .wrap-pic-intro{
		margin-left: auto;
		margin-right: auto;
	}
}

/*=================================================================== Banner ===*/

.parallax-banner{
	background-color: #f7f7f7;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.content-banner {
	background-image: url("/images/icons/background-line.png");
	background-repeat: repeat;
	background-size: auto;
	width: 100%;

    color: white;
    text-align: center;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.text-banner > h3 {
	font-family: PlayfairDisplay-Bold;
	font-size: 80px;
	color: white;
	-webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.symbol-banner {
	width: 70px;
	height: 70px;
	margin: auto;
	position: relative;
	-webkit-transition: all 0.4s ;
    -o-transition: all 0.4s ;
    -moz-transition: all 0.4s ;
    transition: all 0.4s ;
}
.symbol-banner img {
	width: 100%;
	-webkit-transition: all 0.4s ;
    -o-transition: all 0.4s ;
    -moz-transition: all 0.4s ;
    transition: all 0.4s ;
}

.line-symbol-banner{
	position: absolute;
	height: 1px;
	background-color: #e52233;
	-webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

#short-line-left{
	top:31px;
	right: 100%;
	width: 142px;
}
#long-line-left{
	top:39px;
	right: 100%;
	width: 180px;
}
#short-line-right{
	top:31px;
	left: 100%;
	width: 142px;
}
#long-line-right{
	top:39px;
	left: 100%;
	width: 180px;
}

/*------------------------------------------------------------------- hover banner ---*/
@keyframes turnSymbol {
	0% {transform: rotateY(0deg);}
	10% {transform: rotateY(36deg);}
	20% {transform: rotateY(72deg);}
	30% {transform: rotateY(108deg);}
	40% {transform: rotateY(144deg);}
	50% {transform: rotateY(180deg);}
	60% {transform: rotateY(216deg);}
	70% {transform: rotateY(252deg);}
	80% {transform: rotateY(288deg);}
	90% {transform: rotateY(324deg);}
	100% {transform: rotateY(360deg);}
}
.parallax-banner:hover .symbol-banner {
	width: 80px;
	height: 80px;
}
.parallax-banner:hover #short-line-left, .parallax-banner:hover #short-line-right{
	top:36px;
}
.parallax-banner:hover #long-line-left, .parallax-banner:hover #long-line-right{
	top:44px;
}
.parallax-banner:hover .content-banner {
	padding-top: 175px;
}
.parallax-banner:hover .symbol-banner img {
	animation: turnSymbol 1.2s ease-in-out infinite;
	-webkit-animation: turnSymbol 1.2s ease-in-out infinite;
}

/*------------------------------------------------------------------- hover banner END*/
@media (max-width: 576px){
	#long-line-left, #long-line-right{width: 110px;}
	#short-line-left, #short-line-right{width: 80px;}
}
/*................................................................... Banner ...*/

/*................................................................... Öffnungszeizen...*/


img.hours{
	width: 100px;
    padding-bottom: 20px;
    margin-right: 650px;
    height: 100px;
}




* {
	margin:0px;
	padding:0px;
}
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing: border-box; }

.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }


body {
	background: #ffffff;
	color: #333;
	font-weight: normal;
	font-size: 1em;
	font-family: 'Roboto', Arial, sans-serif;
}

input:focus, textarea:focus, keygen:focus, select:focus {
	outline: none;
}
::-moz-placeholder {
	color: #666;
	font-weight: 300;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: #666;
	font-weight: 300;
}


/* Contact Form Styling */

.textcenter {
	text-align: center;
}
.section1 {
	text-align: center;
	display: table;
	width: 100%;
}
.section1 .shtext {
	display: block;
	margin-top: 20px;
}
.section1 .seperator {
	border-bottom:1px solid #a2a2a2;
	width: 35px;
	display: inline-block;
	margin: 20px;
}

.section1 h1 {
	font-size: 40px;
	color: #A44DD8;
	font-weight: normal;
}

.section2 {
    width: 1200px;
    margin: 25px auto;
}
.section2 .col2 {
	width: 48.71%;
}
.section2 .col2.first {
	float: left;
}
.section2 .col2.last {
	float: right;
}
.section2 .col2.column2 {
	padding: 0 30px;
}
.section2 span.collig {
	color: #a2a2a2;
	margin-right: 10px;
	display: inline-block;
}
.section2 .sec2addr {
	display: block;
	line-height: 26px;
}
.section2 .sec2addr p:first-child {
	margin-bottom: 10px;
}

.zoom:hover {
	-ms-transform: scale(1.6); /* IE 9 */
	-webkit-transform: scale(1.6); /* Safari 3-8 */
	transform: scale(1.6); 
}
/* @media querries */

@media only screen and (max-width: 1266px) {
	.section2 {
		width: 100%;
	}
}
@media only screen and (max-width: 960px) {
	.container {
		padding: 0 30px 70px;
	}
	.section2 .col2 {
		width: 100%;
		display: block;
	}
	.section2 .col2.first {
		margin-bottom: 10px;
	}
	.section2 .col2.column2 {
		padding: 0;
	}
	body .sec2map {
		height: 250px !important;
	}
}

.space{height: 50px;}
.container-fluid{
  height: 500px;
  position: relative;
}
.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 70vh;
}
.image-box{
  transform: rotate(0deg);
  max-width: 600px;
  border: 10px solid #fff;
  border-bottom: 50px solid #fff;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%);
  transition: 2s;
}
.out-screen{
  transform: rotate(90deg);
  left: -700px;
}
.come-in{
  transform: rotate(0deg);
  top: 0%;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
}
#prev, #next{
  position: absolute;
  background: #F39C12;
  border: none;
  color: #fff;
  padding: 20px;
}
#prev{
  left: 0;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 2rem;

}
#next{
  right: 0;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 2rem;
}
@media screen and (max-width: 500px){
  .image-box{width: 100%;}
}

.karte{
 background-image: linear-gradient(
        to right bottom, rgba(179, 29, 10, 0.7),rgba(221, 67, 20, 0.7), #839280,#b43d28),url(../images/wood-186304_1920.jpg) ;
 background-size: cover;  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 90vh;
  padding: 0;
  overflow: hidden;
}




@media screen and (min-width: 800px) {
	.karte{
	height: 1050px;
	}
	}
	
	







#demo {
	height:100%;
	position:relative;
	overflow:hidden;
  }
  
  
  .green{
	background-color:#6fb936;
  }
		  .thumb{
			  margin-bottom: 30px;
		  }
		  
		  .page-top{
			  margin-top:85px;
		  }
  
	 
  img.zoom {
	  width: 70%;
	  height: 200px;
	  border-radius:5px;
	  object-fit:cover;
	  -webkit-transition: all .3s ease-in-out;
	  -moz-transition: all .3s ease-in-out;
	  -o-transition: all .3s ease-in-out;
	  -ms-transition: all .3s ease-in-out;
  }
		  
   
  .transition {
	  -webkit-transform: scale(1.2); 
	  -moz-transform: scale(1.2);
	  -o-transform: scale(1.2);
	  transform: scale(1.2);
  }
	  .modal-header {
	 
	   border-bottom: none;
  }
	  .modal-title {
		  color:#000;
	  }
	  .modal-footer{
		display:none;  
	  }
  

  
  
	  .caption {
		padding-top:5px
	  }
	  









